@charset "utf-8";

body
{
	margin: 0px;
	background-color: #d8b494;
	font-family: "Myriad pro", "Arial", sans-serif;
}

.clearboth
{
	clear: both;
}

.green
{
	color: #c0e13a;
}

.whiteitalic
{
	color: white;
	font-size: 115%;
	font-style: italic;
	font-weight: bold;
}

.whiteitalic a
{
	color: white;
	font-size: 130%;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

.blue
{
	color: #429bc7;
}

.blueitalic
{
	color: #343692;
	font-style: italic;
	font-size: 115%;
}

.blueitalic a
{
	color: #343692;
	font-style: italic;
	font-size: 105%;
	text-decoration: none;
}

.blueitalic2
{
	color: #343692;
	font-size: 115%;
	font-style: italic;
	font-weight: bold;
}

.blueitalic2 a
{
	color: #343692;
	font-size: 130%;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

.logo
{
	width: 493px;
	float: left;
	padding: 30px;
}

.phone
{
	width: 400px;
	margin: 33px 25px 0px 0px;
	float: right;
	text-align: right;
}

.lgreenbg
{
	height: 160px;
	margin: 0px;
	background-color: #d8b494;
}

header
{
	width: 980px;
	margin: 0px auto;
	background-image: url("../images/header.png");
}

.lbluebg
{
	height: 80px;
	margin: 0px;
	background-color: #d8b494;
}

nav
{
	color: #1c0a00;
	padding: 25px;
	width: 930px;
	margin: auto;
	text-align: center;
	font-size: 25px;
	background-color: #ded599;
}

nav a
{
	color: #1c0a00;
	text-decoration: none;
	margin: 0px 18px 0px 18px;
	font-size: 120%;
}

nav a:hover
{
	text-decoration: none;
}

.lgreenbg2
{
	height: 245px;
	margin: 0px;
	background-color: #d8b494;
}

.banner
{
	height: 443px;
	width: 980px;
	margin: auto;
	text-align: center;
}

.lbluebg2
{
	margin: 0px;
	background-color: #d8b494;
}

.lbluebg2 a
{
	margin: 0px;
	background-color: #d8b494;
	text-decoration: none;
}

.lbluebg3
{
	height: 690px;
	margin: 10px;
	background-color: #d8b494;
}

.lbluebg4
{
	height: 500px;
	margin: 10px;
	background-color: #d8b494;
}

.lbluebg5
{
	height: 330px;
	margin: 10px;
	background-color: #d8b494;
}

.icons
{
	width: 980px;
	margin: 0px auto;
}

.icon
{
	width: 245px;
	margin: 25px 0px 25px 0px;
	float: left;
	text-align: center;
}

.lightgreenbg
{
	margin: 0px;
	background-color: #b4f3b4;
}

.text
{
	width: 980px;
	margin: 50px auto;
	font-size: 20px;
	color: #1c0a00;
}

.text a
{
	width: 980px;
	margin: 50px auto;
	font-size: 30px;
	color: #1c0a00;
	text-decoration: none;
}

.text1
{
	width: 375px;
	margin: 25px 0px 30px 75px;
	float:left;
	font-size: 30px;
}

.text2
{
	width: 795px;
	margin: 0px 0px 30px 75px;
	float:left;
}

.text3
{
	width: 239px;
	margin: 25px 0px 30px 125px;
	float:left;
}

.img
{
	float:left;
	margin: 15px;
}

.review
{
	width: 698px;
	margin: 0px auto;
	padding: 25px;
}


.greenbg
{
	height: 400px;
	margin: 0px;
}

footer
{
	width: 880px;
	height: 400px;
	margin: auto;
	padding: 15px 0px 40px 100px;
	font-size: 25px;
	color: #1c0a00;
	background-image: url("../images/background.jpg");
}

footer a
{
	color: #1c0a00;
	text-decoration: none;
}

footer a:hover
{
	color: #1c0a00;
	text-decoration: none;
}

.spacer1
{
	width: 980px;
	height: 20px;
	margin-left: 185px;
	background-color: #5b3929;
}

.rect1
{
	width: 840px;
	height: 200px;
	margin-left: 250px;
	background-color: #e02e3f;
}

.rect2
{
	width: 840px;
	height: 200px;
	margin-left: 250px;
	background-color: #5b2810;
}

.rect3
{
	width: 840px;
	height: 200px;
	margin-left: 250px;
	background-color: #ded599;
}

.logo1
{
	float: left;
	margin: 20px 50px;
}

.logo2
{
	float: right;
	margin: 30px 50px;
}

.logo3
{
	float: left;
	margin: 35px 50px;
}

.box1
{
	padding: 50px;
	color: #5b2810;
	font-size: 45px;
}

.box1 a
{
	padding: 50px;
	color: #5b2810;
	font-size: 45px;
}

.box2
{
	padding: 50px;
	color: #ded599;
	font-size: 45px;
}

.box3
{
	padding: 50px;
	color: #e02e3f;
	font-size: 45px;
}